{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} About {% endblock %}</h1>
    <ul>
        <li><a target="_blank" href="/runningguide">Running Guide</a></li>
        <li><a target="_top" href="/service">Service Status</a></li>
    </ul>
    <p>This page is unofficial and is not associated in any way with the Formula 1 companies. F1, FORMULA ONE, FORMULA 1, FIA FORMULA ONE WORLD CHAMPIONSHIP, GRAND PRIX and related marks are trade marks of Formula One Licensing B.V.</p>
{% endblock %}
