:root {
    --f1-warm-red: #ff1e00;
    --f1-carbon-black: #15151e;
    --f1-off-white: #f7f4f1;
    --f1-background: #1b1b1b;
    --f1-background-alt: #3f3f3f;
    --f1-hivis-white: #ffffff;
    --f1-timing-rbr: #0000EB;
    --f1-timing-amg: #1ac1b1;
    --f1-timing-mcl: #fd8609;
    --f1-timing-fri: #d10009;
    --f1-timing-ast: #0b5e4f;
    --f1-timing-trs: #21354f;
    --f1-timing-alf: #7c0001;
    --f1-timing-alp: #0e79ff;
    --f1-timing-has: #ffffff;
    --f1-timing-wil: #0000A0;
    --f1-timing-yellow: #ffff1b;
    --f1-timing-green: #22ff08;
    --f1-timing-purple: #f700fa;
    --f1-timing-orange: #ed7609;
    --f1-timing-cyan: #21ffff;
    --f1-timing-red: #fb0006;

    --rbr-blue: #001a30;
    --rbr-red: #ea1d2d;
    --rbr-yellow: #fcd700;
    --rbr-grey: #a8a9ac;

    --orbr-neutral20: #F5F4F2;
    --orbr-neutral50: #D4CFCA;
    --orbr-ocean180: #13212c;
    --orbr-ocean190: #0b171f;
    --orbr-oracle: #c74634;
}

@font-face {
    font-family: 'formula1display';
    src: url('formula1-regular_web_0-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'digital7';
    src: url('Digital-7-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'livetiming';
    src: url(' titilliumweb-regular-webfont.woff2') format('woff2');
}

body {
    color: var(--f1-hivis-white);
    font-family: "formula1display", Roboto, Arial, Helvetica, sans-serif;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--rbr-blue);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.topnav {
    background-color: var(--rbr-yellow);
}

.txt-yel {
    color: var(--f1-timing-yellow);
}

.txt-gry {
    color: var(--rbr-grey);
}

.mcontainer {
    display: flex;
}

.mfixed {
    width: 250px;
}

.mflex-item {
    flex-grow: 1;
}

.graph-title {
    color: var(--rbr-grey);
    font-size: 0.8em;
}

.graph-hdg {
    color: var(--rbr-grey);
    font-size: 1.1em;
}

.graph-data {
    color: var(--f1-off-white);
    font-size: 0.9em;
}

.results {
    font-size: 1.3em;
    color: var(--supwhite);
    display: inline;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 340px 275px 540px;
    height: 400px;
    align-items: stretch;
    justify-content: space-evenly;
}

.grid-container > div {
    background-color: var(--orbr-ocean180);
    border: 1px solid var(--rbr-red);
    text-align: center;
    padding: 2px;
}

.bg1::before {
    background-image: url(/images/redwood/texture_graphic_5_b.png);
    background-size: cover;
}

.bg2::before {
    background-image: url(/images/redwood/texture_graphic_6_d.png);
    background-size: cover;
}

.bg3::before {
    background-image: url(/images/redwood/texture_graphic_7_e.png);
    background-size: cover;
}

.player {
    width: 200px;
}
.time {
    width: 80px;
}
.posn {
    width: 40px;
}

.digits {
    font-family: "digital7";
    display: inline;
}

.timing {
    font-family: "livetiming", Roboto, Arial, Helvetica, sans-serif;
}

.tdigits {
    font-family: "digital7";
}

.dash {
    display: inline;
}

.small {
    font-size: 1.0em;
}

.large {
    font-size: 2.0em;
}

.med {
    font-size: 1.75em;
}

input {
    border: 1px solid var(--orbr-ocean190);
    padding: 8px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    text-align: center;
  }

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: var(--f1-timing-alp);
    background-image: none;
}

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: var(--f1-timing-alp);
    overflow: hidden;
    border-radius: .25em;
}
select {
    flex: 1;
    padding: 0 .5em;
    color: var(--whitehivis-white);
    cursor: pointer;
}
  /* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: var(--orbr-ocean180);
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
/* Transition */
.select:hover::after {
    color: var(--f1-timing-yellow); 
}

button {
    cursor: pointer;
    border: 1px solid var(--orbr-ocean190);
    background: var(--rbr-grey);
    color: var(--f1-hivis-white);
    padding: 8px;
}

.message {
    padding: 2px;
    margin-top: 8px;
}
.button-row {
    padding: 8px;
    margin-top: 18px;
}

.menu-row {
    margin-top: 2px;
    margin-bottom: 4px;
    overflow: hidden;
}

.menu-row a {
    padding: 4px;
    background-color: #41727e;
    color: var(--supwhite);
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 2px;
}

.menu-row a:hover {
    background-color: var(--f1-background-alt);
}

.header {
    background-image: url(/images/redwood/Oracle_rgb.png);
    background-size: 190px;
    background-repeat: no-repeat;
    background-position: left top;
    padding-top:30px;
    margin-bottom:10px;
    margin-top: 2px;
    text-align: right;
 }

 .cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
.card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
}
  
.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}
  
.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}
  
.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
}
  
.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
}
  
.title-white {
    color: var(--f1-hivis-white);
}
  
.title-black {
    color: var(--f1-carbon-black);
}

.percentageBar {
    width: 100px;
    max-width: 100px;
    background-color: var(--f1-carbon-black);
}
  
@media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
}

  /* The switch - the box around the slider */
.switch {
    position: relative;
    /*display: inline-block; */
    width: 30px;
    height: 17px;
}
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--f1-off-white);
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: var(--f1-hivis-white);
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: var(--f1-timing-orange);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--orbr-ocean180);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 17px;
}
  
.slider.round:before {
    border-radius: 50%;
  }

.timing_yel {
    color: var(--f1-timing-yellow);
}

.dw_sngle {
    width: 30px;
    max-width: 30px;
    min-width: 30px;
    padding: 0px 12px 0px 10px;
}

.dw_med {
    width: 65px;
    max-width: 65px;
    min-width: 65px;
    padding: 0px 12px 0px 10px;
}

.dw_max {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    padding: 0px 0px 0px 10px;
}

div#s1_acc, div#s2_acc {
    max-width: 180px;
    background: repeating-linear-gradient(
    to right,
    #128500,
    #128500 10px,
    #17a401 10px,
    #17a401 20px);
    width: 0%;
}

div#s1_br, div#s2_br {
    max-width: 180px;
    background: repeating-linear-gradient(
    to right,
    #7e0101,
    #7e0101 10px,
    #ab0101 10px,
    #ab0101 20px);
    width: 0%;
}

model-viewer {
    height: 720px;
    width: 1130px;
    background-color: var(--rbr-blue);
    overflow-x: hidden;
    --poster-color: var(--rbr-blue);
}

#ar-button {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 12px 50%;
    background-color:  var(--rbr-grey);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    bottom: 75px;
    padding: 0px 16px 0px 20px;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    font-size: 14px;
    color: var(--rbr-yellow);
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    border: 1px solid var(--rbr-yellow);
  }

#ar-button:active {
    background-color: var(--rbr-grey);
}

#ar-button:focus {
    outline: none;
}

#ar-button:focus-visible {
    outline: 1px solid var(--rbr-blue);
}

td.telemetry {
    flex: auto ;
}
